body {
  font-family: Arial, sans-serif;
  background: #f3f7f3;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #2b7a2b;
}

.tagline {
  font-size: 14px;
  color: #555;
}

.container {
  background: white;
  padding: 20px;
  max-width: 450px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgray;
  margin-top: 20px;
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #2b7a2b;
  color: white;
  padding: 10px;
  width: 95%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background: #256625;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #e8f5e9;
  padding: 10px;
  margin: 6px;
  border-radius: 8px;
}

.nav {
  max-width: 450px;
  margin: auto;
}

.nav button {
  width: 30%;
  font-size: 13px;
  margin: 4px;
}

.donateCard {
  background: #f0fff0;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: left;
}

.impactBox {
  background: #e8f5e9;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
}

.note {
  font-size: 13px;
  color: #444;
  margin-top: 15px;
}